body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
    color:#222;
}

.contenedor{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.grupo{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

h2{
    text-align:center;
    color:#0066cc;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#0066cc;
    color:white;
}

th,td{
    padding:8px;
    border:1px solid #ddd;
    text-align:center;
}